
[submodule "hnswlib"]
	path = hnswlib
	url = git@github.com:PomeloTea0726/hnswlib.git
[submodule "nsg"]
	path = nsg
	url = git@github.com:PomeloTea0726/nsg.git
[submodule "efanna_graph"]
	path = efanna_graph
	url = git@github.com:PomeloTea0726/efanna_graph.git
